@model Envios.MVC.Models.LocalidadModel

@using (Html.BeginForm("CreateLocalidad", "ABMDirecciones", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <br />
    <h3 class="modal-title text-center">AGREGAR NUEVA LOCALIDAD</h3>
    <hr />
    
    @Html.ValidationSummary(true)
    
    <div class="modal-body">
        <label>PROVINCIA</label>
        @Html.DropDownListFor(Model => Model.ProvinciaId, new SelectList(ViewBag.ListaProvincias as System.Collections.IEnumerable, "ProvinciaId", "ProvinciaName"), "ELIJA UNA PROVINCIA", new { @class = "form-control", id = "LocalidadCreateSelectedProvincia", required = "required" })
        @Html.Hidden("ProvinciaId")
        <br />

        <label>LOCALIDAD</label>
        @Html.TextBoxFor(model => model.LocalidadName, new { @class = "form-control", id = "Localidad", required = "required" })
        @Html.ValidationMessageFor(model => model.LocalidadName)
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-primary">GUARDAR</button>
    </div>
}

<script>
   
</script>
