@model Envios.MVC.Models.LocalidadModel

@using (Html.BeginForm("EditLocalidad", "ABMDirecciones", new { LocalidadId = @ViewBag.LocalidadId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <br />
    <h3 class="modal-title text-center">EDITAR LOCALIDAD</h3>
    <hr />
    
    @Html.ValidationSummary(true)
    
    <div class="modal-body">

        <label name="LocalidadId">LOCALIDAD ID @ViewBag.LocalidadId</label>

        @Html.TextBoxFor(model => model.LocalidadName, new { Value = ViewBag.LocalidadName, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.LocalidadName)
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-primary">MODIFICAR</button>
    </div>
}

