@model Envios.MVC.Models.ProvinciaModel

@using (Html.BeginForm("EditProvincia", "ABMDirecciones", new { ProvinciaId = @ViewBag.ProvinciaId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <br />
    <h3 class="modal-title text-center">EDITAR PROVINCIA</h3>
    <hr />
    
    @Html.ValidationSummary(true)
    
    <div class="modal-body">
        <label name="ProvinciaId">PROVINCIA ID @ViewBag.ProvinciaId</label>
      

        @Html.TextBoxFor(model => model.ProvinciaName, new { Value = ViewBag.ProvinciaName, @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProvinciaName)
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-primary">MODIFICAR</button>
    </div>
}

