@model Envios.MVC.Models.ProductoModel

@using (Html.BeginForm("CreateProducto", "ProductosAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <br />
    <h3 class="modal-title text-center">AGREGAR NUEVO PRODUCTO</h3>
    <hr />
    
    @Html.ValidationSummary(true)
    <div class="modal-body">
        <label>NOMBRE</label>
        @Html.TextBoxFor(model => model.ProductoName, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.ProductoName)

        <label>MARCA</label>
        @Html.TextBoxFor(model => model.ProductoMarca, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.ProductoMarca)

        <label>DESCRIPCION</label>
        @Html.TextBoxFor(model => model.ProductoDescription, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.ProductoDescription)

        <label>PRECIO</label>
        @Html.TextBoxFor(model => model.ProductoPrecio, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.ProductoPrecio)

        <label>STOCK</label>
        @Html.TextBoxFor(model => model.ProductoStock, new { @class = "form-control", required = "required" })
        @Html.ValidationMessageFor(model => model.ProductoStock)

        <label>IMAGEN</label>
        @Html.TextBoxFor(model => model.ProductoImage, new { placeholder = "./Assets/producto.img" , @class = "form-control"})
        @Html.ValidationMessageFor(model => model.ProductoImage)
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CANCELAR</button>
        <button type="submit" class="btn btn-primary">GUARDAR</button>
    </div>
}


