@model List<Envios.MVC.Models.ProductoModel>

@{
    ViewBag.Title = "PRODUCTOS CLIENT";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container-fluid">

        <div>
            <h1 class="text-info">
                PRODUCTOS
            </h1>
        </div>
        @if (ViewBag.Productos > 0)
        {
            <div class="container-fluid">
                <div class="row">
                    @foreach (var producto in Model)
                    {
                        <div class="col col-sm-12 col-md-4">
                            <div class="card">
                                <div id="imgDiv">
                                    <img id="img" class="card-img-top" srcset="@producto.ProductoImage , ./Assets/default.jpg" alt="">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">@producto.ProductoName</h4>
                                    <p class="card-text">@producto.ProductoDescription</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">MARCA: @producto.ProductoMarca</li>
                                    <li class="list-group-item">PRECIO: @producto.ProductoPrecio</li>
                                </ul>
                                <div class="card-body card text-center">
                                    <a href="#" class="btn btn-primary">PLACEHOLDER BUTTON</a>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <h2 class="text-info">
                NO HAY PRODUCTOS DISPONIBLES
            </h2>
        }
    </div>

</body>
</html>
